<div class="shell">
  <header class="topbar">
    <a routerLink="/lesson-1" class="brand">Angular Step by Step</a>
    <nav>
      <a routerLink="/lesson-1" routerLinkActive="active">Lesson 1</a>
      <a routerLink="/lesson-2" routerLinkActive="active">Lesson 2</a>
      <a routerLink="/lesson-3" routerLinkActive="active">Lesson 3</a>
      <a routerLink="/lesson-4" routerLinkActive="active">Lesson 4</a>
      <a routerLink="/lesson-5" routerLinkActive="active">Lesson 5</a>
      <a routerLink="/lesson-6" routerLinkActive="active">Lesson 6</a>
      <a routerLink="/lesson-7" routerLinkActive="active">Lesson 7</a>
      <a routerLink="/lesson-8" routerLinkActive="active">L8</a>
      <a routerLink="/lesson-9" routerLinkActive="active">Capstone</a>
      <a routerLink="/lesson-10" routerLinkActive="active">Signals</a>
      <a routerLink="/lesson-11" routerLinkActive="active">Testing</a>
    </nav>
  </header>

  <main>
    <router-outlet />
  </main>
</div>
